<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container">
    <div class="container text-center">

        <div class="shadow-lg p-3 my-5 bg-body-tertiary rounded">
            <h1 th:text="${contenido}"></h1>
            <p th:text="${description}"></p>
        </div>

        <div class="container mb-5">
            <div class="row">
                <div class="container text-start bg-body-tertiary rounded py-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar libro" aria-label="Buscar libro" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>