<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/iconos/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/tema/miestilo.css}" rel="stylesheet">
    <title>Librería</title>
</head>
<body>

<header th:fragment="header">
    <nav class="container py-3 navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a th:href="@{/principal}" class="navbar-brand">Enigna Books</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menu"
                    aria-controls="menu"
                    aria-expanded="false"
                    aria-label="Mostrar / Ocultar Menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Menu-->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto mb-1 mb-lg-0">
                    <li class="nav-item"><a th:href="@{/user/realizar-venta}" class="nav-link">Realizar venta</a></li>
                    <li class="nav-item"><a th:href="@{/user/historial-ventas}" class="nav-link">Historial de ventas</a></li>
                    <li class="nav-item"><a th:href="@{/user/inventario}" class="nav-link">Inventario</a></li>
                    <li class="nav-item"><a th:href="@{/user/sucursal}" class="nav-link">Sucursales</a></li>
                    <li class="nav-item dropdown">
                        <a
                                id="dropdown-pathvariable"
                                href="#"
                                class="nav-link dropdown-toggle"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >Gestionar elementos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-pathvariable">
                            <li><a th:href="@{/user/manager/gestionar/libro}" class="dropdown-item">Gestionar Libros</a></li>
                            <li><a th:href="@{/user/manager/gestionar/autor}" class="dropdown-item">Gestionar Autores</a></li>
                            <li><a th:href="@{/user/manager/gestionar/editorial}" class="dropdown-item">Gestionar Editoriales</a></li>
                            <li><a th:href="@{/libreria/gestionar/clasificacion}" class="dropdown-item">Gestionar Clasificaciones</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a th:href="@{/user/usuarios}" class="nav-link">Añadir usuario</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>

<footer th:fragment="footer">
    <div class="container text-center text-white py-5">
        <p>Dirección General de Cómputo y de Tecnologías de Información y Comunicación</p>

    </div>
    <script th:src="@{/bootstrap/js/jquery-3.6.3.js}"></script>
    <script th:src="@{/bootstrap/js/jquery-ui.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
</footer>

</html>