<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container">
    <div class="container text-center">

        <div class="shadow-lg p-3 my-5 bg-body-tertiary rounded">
            <h1 th:text="${contenido}"></h1>
        </div>

        <div class="row mb-3">
            <div class="container text-start bg-body-tertiary rounded py-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Fecha 1" aria-label="Fecha 1">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" placeholder="Fecha 2" aria-label="Fecha 2">
                </div>
                <button type="submit" class="btn btn-primary">Generar reporte de venta</button>
            </div>
        </div>

        <div class="shadow-lg p-3 my-5 bg-body-tertiary rounded">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"># Venta</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Libro</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    <th scope="col">Total Final</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>09/01/2024</td>
                    <td>Libro 1</td>
                    <td>$19.99</td>
                    <td>2</td>
                    <td>$39.98</td>
                    <td>$49.97</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Libro 2</td>
                    <td>$9.99</td>
                    <td>1</td>
                    <td>$9.99</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>10/01/2024</td>
                    <td>Libro 3</td>
                    <td>$15.99</td>
                    <td>1</td>
                    <td>$15.99</td>
                    <td>$15.99</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>09/01/2024</td>
                    <td>Libro 1</td>
                    <td>$19.99</td>
                    <td>1</td>
                    <td>$39.98</td>
                    <td>$69.95</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Libro 2</td>
                    <td>$9.99</td>
                    <td>1</td>
                    <td>$9.99</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Libro 3</td>
                    <td>$9.99</td>
                    <td>1</td>
                    <td>$9.99</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Libro 5</td>
                    <td>$9.99</td>
                    <td>1</td>
                    <td>$9.99</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>