<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container">

    <div class="container text-center">

        <div class="row">
            <div class="col-12 py-2">
                <img class="img-fluid" th:src="@{/image/logo_historial.png}" width="35%" height="35%"
                     style="border-radius: 50%;">
            </div>
        </div>
        <div class="shadow-lg p-3 my-5 bg-body-tertiary rounded">
            <h1 th:text="${contenido}"></h1>
        </div>

        <div class="container mb-5">
            <div class="row">
                <div class="col-3 bg-marron rounded-top-3">
                    <p class="my-1">Reporte de ventas</p>
                </div>
                <div class="col-12 py-3 bg-body-tertiary rounded">
                    <form th:action="@{/libreria/historial/reporte}" method="get" class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="fechaUnoText">Fecha inicio:</span>
                            <input type="date" class="form-control" id="fechaUno" name="fechaUno" required>
                            <span class="input-group-text" id="fechaDosText">Fecha fin:</span>
                            <input type="date" class="form-control" id="fechaDos" name="fechaDos" required>
                            <button class="btn btn-outline-primary" type="submit">Generar reporte</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-3 bg-marron rounded-top-3">
                    <p class="my-1">Buscar entre fechas</p>
                </div>
                <div class="col-12 bg-body-tertiary rounded py-3">
                    <form th:action="@{/libreria/historial/buscar-historial-tabla}" method="get" class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="fechaInicioText">Fecha inicio:</span>
                            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio">
                            <span class="input-group-text" id="fechaFinText">Fecha fin:</span>
                            <input type="date" class="form-control" id="fechaFin" name="fechaFin">
                            <button class="btn btn-outline-primary" type="submit">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="shadow-lg p-3 my-5 bg-body-tertiary rounded">
            <table th:if="${!listaHistorial.isEmpty()}" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#Venta</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Libro</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Método de pago</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    <!--                    <th scope="col">Total Final</th>-->
                    <th sec:authorize="hasRole('ADMIN')">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lHistorial: ${listaHistorial}">
                    <td th:text="${lHistorial.venta.numVenta}"></td>
                    <td th:text="${lHistorial.venta.fechaVenta}"></td>
                    <td th:text="${lHistorial.venta.empleado.apellido1 + ' ' +lHistorial.venta.empleado.apellido2 + ', ' + lHistorial.venta.empleado.nombre}"></td>
                    <td th:text="${lHistorial.libro.titulo + ', Ed. ' + lHistorial.libro.editorial.editorialName + ', Pasta: ' + lHistorial.libro.tipoPasta}"></td>
                    <td th:text="${lHistorial.libro.precio}"></td>
                    <td th:text="${lHistorial.venta.metodoPago}"></td>
                    <td th:text="${lHistorial.cantidadLibros}"></td>
                    <td th:text="${(lHistorial.libro.precio ?: 0) * (lHistorial.cantidadLibros ?: 0)}"></td>
                    <td>
                        <div sec:authorize="hasRole('ADMIN')">
                            <!--                            <a th:href="@{/libreria/historial/edit-historial/{id} (id=${lHistorial.id})}"-->
                            <!--                               class="btn btn-success">Modificar <i class="fas fa-pen-nib" aria-hidden="true"></i>-->
                            <!--                            </a>-->
                            <a th:href="@{/libreria/historial/delete-historial/{id} (id=${lHistorial.id})}"
                               class="btn btn-danger">Eliminar <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav th:replace="~{plantillas/pag-nav-historial::paginador}"></nav>


    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>