<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main>
    <div class="container text-center ">
        <div class="row">
            <div class="col-12 py-2">
                <img class="img-fluid" th:src="@{/image/logo_inicio.png}" width="35%" height="35%"
                     style="border-radius: 50%;">
            </div>
        </div>
        <div class="shadow-lg p-3 my-5 bg-body-tertiary rounded">
            <h1>HOME</h1>
            <h2>Bienvenido al sistema.</h2>
            <p>Selecciona la pestaña de tu elección para consultar o realizar una operación</p>
        </div>
    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>