<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container">
    <div class="container text-center">

        <div class="shadow-lg p-3 my-5 bg-body-tertiary rounded">
            <h1 th:text="${contenido}"></h1>
            <!--            <p th:text="${description}"></p>-->
        </div>

        <div class="container text-start">
            <div class="row">
                <div class="col container bg-body-tertiary rounded py-3 me-3">
                    <form th:action="@{/libreria/gestionar/clasificacion/buscar-clasificacion-tabla}" method="get">
                        <div class="input-group">
                            <input type="text" id="clasificacionName" name="tipoClasificacion" class="form-control"
                                   placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2"
                                   required="required" th:value="${clasificacionB.tipoClasificacion}">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
                        </div>
                    </form>
                </div>
                <div class="col-auto align-self-end container bg-body-tertiary rounded py-3 ms-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Añadir Clasificación
                    </button>
                    <h3 th:text="${info}"></h3>
                </div>
            </div>
        </div>

        <div class="shadow-lg p-3 mt-5 mb-1 bg-body-tertiary rounded">
            <table th:if="${!listaClasificaciones.isEmpty()}" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Clasificación</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="listaCl: ${listaClasificaciones}">
                    <td th:text="${listaCl.tipoClasificacion}"></td>
                    <td>
                        <a th:href="@{/libreria/gestionar/clasificacion/edit-clasificacion/{id} (id=${listaCl.id})}"
                           class="btn btn-success">Modificar <i class="fas fa-pen-nib" aria-hidden="true"></i> </a>
                        <a th:href="@{/libreria/gestionar/clasificacion/delete-clasificacion/{id} (id=${listaCl.id})}"
                           class="btn btn-danger">Eliminar <i class="fas fa-trash-alt" aria-hidden="true"></i> </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav th:replace="~{plantillas/pag-nav::paginador}"></nav>


        <!-- Vertically centered modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Completa los campos:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form id="clasificacionForm" th:action="@{/libreria/gestionar/clasificacion/add-clasificacion}" th:object="${clasificacion}"
                              method="post">
                            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
                                Verifique los siguientes inconvenientes
                                <ul>
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                                </ul>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input
                                                th:class="${#fields.hasErrors('tipoClasificacion')}? 'form-control is-invalid':form-control"

                                                type="text" id="tipoClasificacion"
                                                name="tipoClasificacion"
                                                th:field="*{tipoClasificacion}"
                                                placeholder="Nueva clasificación">
                                        <label for="tipoClasificacion">Clasificación</label>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" form="clasificacionForm">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>

<script th:replace="~{principal/clasificacion/js/autocompletar :: jsclasificacion}"></script>
<!-- Script para abrir el modal si hay un error -->
<script th:if="${showModal}">
    document.addEventListener("DOMContentLoaded", function () {
        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
        myModal.show();
    });
</script>

</body>
</html>