html {
    height: 100%;
}
body{
    height: 100%;
    background: rgb(134, 217, 255);
}

header{
    background: rgb(3, 82, 102);
}

footer{
    background: rgb(3, 82, 102);
}

.bg-marron {
    background-color: #8B4513;
    color: white;
}